
.a {
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
}
.b {
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
}
.c {
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
}

.d {
    text-align: center;
    border-bottom: 1px solid #ACA9A9;

}

.e{
    float: left;
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
    border-right: 1px solid #ACA9A9; 


}

.f{
    float: right;
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
}

.g{
    float: left;
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
    border-right: 1px solid #ACA9A9;
}

.h{
    float: right;
    text-align: center;
    border-bottom: 1px solid #ACA9A9;
}

.i {
    text-align: center;
    line-height: 80px;
} 


@media screen and (min-width:768px) and (min-width: 960px) {
    
   
    .a {
        text-align: center;
    }
    .b {
        float: left;
        text-align: center;
    }
    .c {
        float: right;
        text-align: center;        
    }
    .d {
        float: right;
        text-align: center;
    }

    .e {
        text-align: center;
        }
    .f {
        text-align: center;
    }
    .g {
        text-align: center;
    }
    .h {
        text-align: center;
    }
    .i {
        text-align: center;
    }
} 

