


@media screen and (min-width:768px) {
    
    /* div {
        background-color: rgb(134, 143, 153);
    } */
    .a ,.b,.c,.d,.e,.f,.g,.h,.i{
        border: 1px #979797 solid;
    }
    .a {
        background-color: gold;
       
    }
    .b {
        background-color: fuchsia;
        float: left;
    }
    .c {
        background-color: green;
    }
    .d {
        background-color: rgb(128, 0, 70);
    }
    .e {

        background-color: indianred;
    }
    .f {
        background-color: lightgreen;
    }
    .g {
        background-color: lime;
    }
    .h {
        background-color: rgb(211, 123, 233);
    }
    .i {
        background-color: olive;
    }
} 
  


